.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.vertical-center {
  min-height: 100px;  /* Fallback for browsers do NOT support vh unit */
  display: flex;
  align-items: center;
}

.jumbotron{
  height: 100px;
}

.CHinp{
  height: 20px;
  min-height: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
}

body    {overflow-y:scroll;}